$main-font: "Open Sans", "Arial", sans-serif;
$mobile-width: 767px;
$tablet-width: 1023px;

$aquamarine: #0ad9c6;
$black: #000000;
$light-black: #1c1c1c;
$cursed-black: #131314;
$white: #ffffff;
$light-white: #f6f6f6;
$dark-white: #eeeeee;
$light-grey: #c9ccd4;
$dark-grey: #48494d;
$light-blue: #f6f7f9;

$black-opacity: rgba($black, 0.7);
$light-black-opacity: rgba($light-black, 0.5);
$dark-white-opacity: rgba($dark-white, 0.2);
